.one{
    padding-top: 90px;
}
.one .admin a:hover{
    background: #337AB7;
    color:#fff;
}
.user-head{
    border-bottom: 1px solid #E1E1E1;
}
.user-title{
    color: #337AB7;
}
table tbody td{
    font-weight: 700;
}
footer{
    text-align: center;
}
footer span{
    line-height: 60px;
}